<div class="container mt-5 mb-5">

  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center text-dark">Atualizar Produto</h1>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-md-3 justify-content-center">
      <label class="text-muted">Nome</label>
      <div class="form-group">
        <input [(ngModel)]="produto.nome" class="form-control" type="text" id="nome" placeholder="Digite o nome">
      </div>

      <label class="text-muted">Preço</label>
      <div class="form-group">
        <input [(ngModel)]="produto.preco" class="form-control" type="number" id="preco" placeholder="Informe o preço">
      </div>

      <label class="text-muted">Desconto</label>
      <div class="form-group">
        <input [(ngModel)]="produto.desconto" class="form-control" type="number" id="desconto" placeholder="Informe o desconto">
      </div>

      <label class="text-muted">Foto</label>
      <div class="form-group">
        <input [(ngModel)]="produto.foto" class="form-control" type="text" id="foto" placeholder="Insira o link da foto">
      </div>

      <label class="text-muted">Descrição</label>
      <div class="form-group">
        <input [(ngModel)]="produto.descricao" class="form-control" type="text" id="descricao" placeholder="Informe a descrição">
      </div>

      <label class="text-muted">Quantidade</label>
      <div class="form-group">
        <input [(ngModel)]="produto.quantidade" class="form-control" type="number" id="quantidade" placeholder="Informe a quantidade">
      </div>

      <label class="text-muted">Categoria</label>
      <select [(ngModel)]="idCategoria" (change)="findByIdCategoria()" class="form-control" name="categoria" id="categoria">
        <option *ngFor="let i of listaCategorias" value={{i.id}}>{{i.nome}}</option>
      </select>

      <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-danger mr-3" routerLink="/produto">Cancelar</button>
        <button class="btn btn-info" (click)='atualizar()'>Atualizar</button>
      </div>

    </div>
  </div>
</div>
