<div class="justify-content-center" id="img-bg">
  <div class="container-fluid">
    <img src="https://imgur.com/h8vU4mt.jpg" height="150">
    <!--LOGIN-->
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-md-8">
          <div class="bg-white rounded shadow-5-strong p-5">

            <div class="text-center mb-4">
              <h1>Login</h1>
            </div>
            <div class="form-outline mb-4">
              <input [(ngModel)]="login.email" type="email" id="email" class="form-control bg-box">
              <label class="form-label text-secondary" for="formLogin">Usuário</label>
            </div>

            <div class="form-outline mb-4">
              <input [(ngModel)]="login.senha" type="password" id="senha" class="form-control bg-box">
              <label class="form-label text-secondary" for="formLogin">Senha</label>
            </div>

            <div class="justify-content-center ">
            <button type="submit" class="btn btnEnter btn-block" (click)="entrar()">Entrar</button>
            </div>

            <div class="row mt-4">
              <div class="col d-flex justify-content-center">
                <div class="col text-center">
                  <p class="fs-13 text-justify"><a href="#!">Esqueci minha senha</a></p>
                </div>
              </div>

            </div>
            <hr>
            <div class="col text-center">
              <h3>Ou</h3>
            </div>

            <div class="row mt-4">
              <div class="col d-flex justify-content-center">
                <div class="col text-center">
                  <img src="https://imgur.com/cXt8s2N.jpg" width="50" height="50">
                </div>
              </div>

              <div class="col text-center">
                <img src="https://imgur.com/4M2uYao.jpg" width="50" height="50">
              </div>

              <div class="col text-center">
                <img src="https://imgur.com/Ziz7ATs.jpg" width="50" height="50">
              </div>
            </div>

            <div class="col text-center mt-4">
              <p class="fs-16">Novo na Green Eyes?<a class="cad" routerLink="/cadastro"> Cadastre-se!</a></p>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
