#img-bg{
    background-color: #0d2622;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btnEnter{
    background-color: transparent;
    border-color: rgba(2, 65, 2, 0.233);
    border-radius: 6pt;
    transition: all .5s ease-out;
    font-weight: bold;
    padding: 7px;
    font-size: 12pt;
    border-width: medium;
}

.btnEnter:hover{
    color: white;
    background-color: rgb(15, 85, 15);
}

.loginBox{
  background-color: rgb(255, 255, 255);
  border-width: 10px;
  border-color: rgb(255, 255, 255);
  border-radius: 8%;
}

.fill{
  height:100%;
}


