<div class="">

<h1 class="center">Entre em contato Conosco!</h1>

<div class="container mb-50">
    <div>
        <form>
            <label for="nome" class="col-md-">Nome:</label><br>
            <input type="text" id="nome" onkeyup= 'validaNome()'>
             <div id = 'txtNome'></div>
             <br>
            <label for="email" class="aum">E-mail:</label><br>
            <input type="email" id="email" onkeyup ='validaEmail()'>
            <div id = 'txtEmail'></div>
            <br>
            <label for="assunto">Assunto:</label><br>
            <textarea name="assunto" id="assunto" cols="60" rows="5" onkeyup='validaAssunto()'></textarea>
            <div id = 'txtAssunto'></div>
            <br>
            <button onclick="enviar()">Enviar</button>
        </form>

    </div>

    <div class="ml-50">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.090226765508!2d-46.69434238554204!3d-23.601096868944843!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5735d6ac2257%3A0xa9cc40474550cd46!2sAv.%20Engenheiro%20Lu%C3%ADs%20Carlos%20Berrini%2C%20500%20-%20Itaim%20Bibi%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2004533-085!5e0!3m2!1spt-BR!2sbr!4v1619708474760!5m2!1spt-BR!2sbr" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
 
    </div>
</div>
</div>

