<div class="jumbotron jumbotron-fluid corPadrao">
    <div class="container">
      <h1 class="display-4 text-white">Sobre nós</h1>
      <p class="lead text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo unde, commodi magni consequuntur beatae accusantium ipsa at est possimus magnam tempore delectus atque ut aut asperiores eveniet tempora! Quas, dicta.</p>
    </div>
</div>
<div class="mb-3 container ">
    <img class="card-img-top" src="https://i.imgur.com/Ch4hlq1.jpg" alt="floresta exemplo">
    <div class="mt-5">
      <h3 class="card-title">Título do card</h3>
      <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi porro corporis nemo accusantium. Quis dolore ad qui odio nisi nobis hic eius fugit atque recusandae, accusamus minima aspernatur maxime itaque.</p>
    </div>
</div>
  
