<div class="corPadrao">
  <div class="container">
    <h1 class="display-4 text-white">Sobre nós</h1>
    <p class="lead text-white">Pensando na Sustentabilidade e prezando sempre pela vida somos uma equipe com foco na luta contra a        degradação do meio-ambiente. <br><br>
      Nosso principal objetivo é passar a mensagem de conscientização para as pessoas, através dos nosso produtos que são 100% orgânicos e sustentáveis. <br>
      <br><br>
      "O futuro dependerá daquilo que fazemos no presente."
      <br>
      - Gandhi, líder espiritual.</p>
  </div>

  <div class="fundo content-align-center">
    <img class="logo" src="https://i.imgur.com/uSpbbkV.png" alt="floresta exemplo">
  </div>

</div>



<div class="jumbotron jumbotron-fluid corPadrao">
  <div class="container">
    <p class="text-center p-equipe text-white">Equipe GreenEyes - Turma 18</p>
  </div>
</div>

<!--teste-->

<div  class="container col-md-12 container-fluid" >
    <div  class="d-flex flex-row align-items-center container-fluid">
      <div> <img id="id_1" style="width: 15vw; " src="https://i.imgur.com/gQaPn8Y.png" alt="">
        <div class="container text-center mb-2">
        <a href="https://www.linkedin.com/in/pietra-santos1/" target="_blank" class="ico-linke mr-3"><i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://github.com/Pietra-Santos" target="_blank"><i class="fab fa-github"></i></a>
      </div>
      </div>

      <div> <img id="id_2" style="width: 15vw; " src="https://i.imgur.com/DnhiOc9.png" alt="">
        <div class="container text-center mb-2">
          <a href="https://www.linkedin.com/in/igor-augusto-4a7268207/" target="_blank" class="ico-linke mr-3"><i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/Igorbit01" target="_blank"><i class="fab fa-github"></i></a>
        </div>
      </div>

      <div> <img id="id_3" style="width: 15vw; " src="https://i.imgur.com/i5zIjLP.png" alt="">
        <div class="container text-center m-2">
          <a href="https://www.linkedin.com/in/vinicius-de-melo-rodrigues-4bba12206/" target="_blank" class="ico-linke mr-3"><i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/Vini-Melo01" target="_blank"><i class="fab fa-github"></i></a>
        </div>
      </div>

      <div> <img id="id_4" style="width: 15vw; " src="https://i.imgur.com/gTpCSeD.png" alt="">
        <div class="container text-center m-2">
          <a href="https://www.linkedin.com/in/maurício-pereira-2a0b15208/" target="_blank" class="ico-linke mr-3"><i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/Mnobren" target="_blank"><i class="fab fa-github"></i></a>
        </div>
      </div>

      <div> <img id="id_5" style="width: 15vw; " src="https://i.imgur.com/Y1bP6lg.png" alt="">
        <div class="container text-center m-2">
          <a href="https://www.linkedin.com/in/thalitsms/" target="_blank" class="ico-linke mr-3"><i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/thalitsms" target="_blank"><i class="fab fa-github"></i></a>
        </div>
      </div>

      <div> <img id="id_6" style="width: 15vw; " src="https://i.imgur.com/MBRLXlH.png" alt="">
        <div class="container text-center m-2">
          <a href="https://www.linkedin.com/in/fabiolimadiogenes/" target="_blank" class="ico-linke mr-3"><i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/fabiolimadiogenes" target="_blank"><i class="fab fa-github"></i></a>
        </div>
      </div>

    </div>
</div>

<div class="container-fluid bg-color">
  <img class="center" style="width: 33vw; margin-left: 30vw;" src={{qr}} alt="">
</div>


