<!-- Header-->
<header class="navbar navbar-expand-lg bg-menu">
  <div class="container-fluid justify-content-between">

    <!-- Left elements -->
    <div class="d-flex">
      <!-- Logo -->
      <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="#">
        <img src="https://imgur.com/h8vU4mt.jpg" height="120" alt="">
      </a>
    </div>
    <!-- Left elements -->

    <!-- Center elements -->
    <!-- Pesquisar -->
    <form class="input-group w-50 my-auto d-none d-sm-flex">
      <input autocomplete="off"type="search" class="form-control rounded" placeholder="Search">
      <span class="input-group-text border-0 d-none d-lg-flex fa-searchy">
        <i class="fas fa-search"></i>
      </span>
    </form>
    <!-- Center elements -->

    <!-- Right elements -->
    <ul class="navbar-nav flex-row">

      <li class="nav-item dropdown me-3 me-lg-1">
        <a class="nav-link dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown"aria-expanded="false">
        <mat-icon>favorite</mat-icon>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="#">Some news</a></li>
          <li><a class="dropdown-item" href="#">Another news</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown me-3 me-lg-1">
        <a class="nav-link dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
        <mat-icon>shopping_cart</mat-icon>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="#">Some news</a></li>
          <li><a class="dropdown-item" href="#">Another news</a></li>
          <li>
            <a class="dropdown-item" href="#">Something else here</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown me-3 me-lg-1">
        <a class="nav-link dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
          <mat-icon>person</mat-icon>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
        <li><a class="dropdown-item" href="#">My profile</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Logout</a></li>
        </ul>
      </li>
    </ul>
    <!-- Right elements -->
  </div>
</header>


<!-- Navbar -->
<nav class="navbar bg-menu2">
  <form class="container-fluid justify-content-center">
    <button class="btn btn-sm btn-outline-secondary me-2 bmenu2" type="button">Home</button>
    <button class="btn btn-sm btn-outline-secondary me-2 bmenu2" type="button">Categoria</button>
    <button class="btn btn-sm btn-outline-secondary me-2 bmenu2" type="button">Categoria</button>
    <button class="btn btn-sm btn-outline-secondary me-2 bmenu2" type="button">Categoria</button>
    <button class="btn btn-sm btn-outline-secondary me-2 bmenu2" type="button">Categoria</button>
    <button class="btn btn-sm btn-outline-secondary me-2 bmenu2" type="button">Categoria</button>
    <button class="btn btn-sm btn-outline-secondary me-2 bmenu2" type="button">Categoria</button>
    <button class="btn btn-sm btn-outline-secondary me-2 bmenu2" type="button">Sobre nós</button>
    <button class="btn btn-sm btn-outline-secondary me-2 bmenu2" type="button">Contato</button>
    <button class="btn btn-sm btn-outline-secondary me-2 bmenu2" type="button">Blog</button>
  </form>
</nav>
