<div class="container-fluid bg-menu text-white fixed-top">
    <div class="row">
      <div class="col-3">
        <img src="https://imgur.com/h8vU4mt.jpg" alt="logo" width="150px" height="150px" class="img-fluid">
      </div>
      <div class="col-6">
        <form class="form-inline my-2 my-lg-0 ">
          <div class="input-group mr-sm-2 w-px m-5">
            <div class="input-group-prepend ">
              <span class="input-group-text bg-search" id="basic-addon1"> <img src="https://imgur.com/hMLcQar.jpg" height="20px" width="20px" alt="shopping cart icon"></span>
            </div>
            <input type="text" class="form-control" placeholder="pesquisar" aria-label="pesquisar" aria-describedby="basic-addon1">
          </div>
        </form>
      </div>
  
    </div>
            <!--categorias-->
    <div class="row">
      <div class="col-10">
        <nav class="navbar navbar-expand-lg navbar-dark ">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon "></span>
          </button>
  
          <div class="collapse navbar-collapse -sm-flex" id="conteudoNavbarSuportado">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active margin-l">
                <a class="nav-link" href="#">Home <span class="sr-only">(página atual)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Domésticos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Domésticos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Domésticos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Domésticos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Domésticos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Domésticos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Domésticos</a>
              </li>
              <li class="nav-item pl-5">
                <a class="nav-link" href="#">Blog</a>
              </li>
            </ul>
  
            <div class=" navbar-expand-lg pl-5">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item p-2 margin-left">
                  <a class="nav-link text-white " href="#">
                    <img src="https://imgur.com/h7fhQ9C.jpg" height="20px" width="20px" alt="login icon">
                  </a>
                </li>
                <li class="nav-item p-2">
                  <a class="nav-link text-white" href="#">
                    <img src="https://imgur.com/oEmpmDj.jpg" height="20px" width="20px" alt="shopping cart icon">
                  </a>
                </li>
                <li class="nav-item p-2">
                  <a class="nav-link text-white" href="#" >
                    <img src="https://imgur.com/4I8AUcn.jpg" height="20px" width="20px" alt="like icon">
                  </a>
                </li>
              </ul>
          </div>
  
          </div>
        </nav>
      </div>
  
  
  
    </div>
  </div>