.w-px
{
  width: 480px;
}
.bg-menu{
  background-color: #0D2622;
}

.bg-search{
  background-color: rgba(164, 194, 184, 0.432);
}

.margin-left{
  margin-left: 280px;
}

.margin-l{
  margin-left: 5%;
}