<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mt-5">

            <div class="mb-5">
              <h1 class="text-center f-produto">Produtos</h1>
            </div>

            <div>
              <h1  class="text-center">Veja aqui todos os produtos</h1>
            </div>


            <div class="row d-flex justify-content-center mt-4 mb-5">
                <div class="col-md-3">

                    <div class="form-floating mb-3">
                      <input [(ngModel)]="produto.nome" class="form-control mt-3" type="text" id="floatingNome" placeholder="">
                      <label for="floatingNome">Nome</label>
                    </div>

                    <div class="form-floating mb-3">
                      <input [(ngModel)]="produto.preco" class="form-control" type="number" id="floatingNome" placeholder="Informe o preço">
                    </div>

                    <div class="form-group">
                      <input [(ngModel)]="produto.desconto" class="form-control" type="number" id="desconto" placeholder="Informe o desconto">
                    </div>

                    <div class="form-group">
                      <input [(ngModel)]="produto.descricao" class="form-control" type="text" id="descricao" placeholder="Informe a descrição">
                    </div>

                    <div class="form-group">
                      <input [(ngModel)]="produto.foto" class="form-control" type="text" id="foto" placeholder="Insira o link da foto">
                    </div>

                    <div class="form-group">
                      <input [(ngModel)]="produto.quantidade" class="form-control" type="number" id="quantidade" placeholder="Informe a quantidade">
                    </div>

                    <select [(ngModel)]="idCategoria" (change)="findByIdCategoria()" class="form-control" name="categoria" id="categoria">
                        <option *ngFor="let i of listaCategoria" value={{i.id}}>{{i.nome}}</option>
                    </select>



                    <div class="d-flex justify-content-center mt-3">
                        <button class="btn btn-light" (click)="cadastrar()">Cadastrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container">
  <hr>
    <div class="row mt-5">
        <div class="col-md-12">
            <h2 class="text-center">Todos os Produtos Cadastrados</h2>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Produto</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Preço</th>
                        <th scope="col">Desconto</th>
                        <th scope="col">descrição</th>
                        <th scope="col">Quantidade</th>
                        <th scope="col">Categoria</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of listaProdutos">
                        <th>{{i.id}}</th>
                        <td>{{i.nome}}</td>
                        <td>{{i.preco}}</td>
                        <td>{{i.desconto}}</td>
                        <td>{{i.descricao}}</td>
                        <td>{{i.quantidade}}</td>
                        <td>{{i.categoria.nome}}</td>
                        <td class="d-flex justify-content-end">
                            <button class="btn btn-info mr-3" [routerLink]="['/produto-edit', i.id]">Editar</button>
                            <button class="btn btn-info" [routerLink]="['/produto-delete', i.id]">Apagar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
