<div class="container-fluid bg-color">
    <div class="row">
        <div class="col-md-12 mt-5">

            <div class="mb-5">
              <h1 class="text-center f-produto text-white">Cadastro de Produtos</h1>
            </div>

            <div class="row d-flex justify-content-center mt-4 mb-5">
                <div class="col-md-3">

                    <div class="form-floating mb-3">
                      <input [(ngModel)]="produto.nome" class="form-control mt-3" type="text" id="floatingNome" placeholder="">
                      <label for="floatingNome">Nome</label>
                    </div>

                    <div class="form-floating mb-3">
                      <input [(ngModel)]="produto.preco" class="form-control mt-3" type="number" id="floatingPreco" placeholder="">
                      <label for="floatingPreco">Preço</label>
                    </div>

                    <div class="form-floating mb-3">
                      <input [(ngModel)]="produto.desconto" class="form-control mt-3" type="number" id="floatingDesconto" placeholder="">
                      <label for="floatingDesconto">Desconto</label>
                    </div>

                    <div class="form-floating mb-3">
                      <input [(ngModel)]="produto.descricao" class="form-control mt-3" type="text" id="floatingDescricao" placeholder="">
                      <label for="floatingDescricao">Descrição</label>
                    </div>

                    <div class="form-floating mb-3">
                      <input [(ngModel)]="produto.foto" class="form-control" type="text" id="floatingFoto" placeholder="">
                      <label for="floatingFoto">Foto</label>
                    </div>

                    <div class="form-floating mb-3">
                      <input [(ngModel)]="produto.quantidade" class="form-control" type="number" id="floatingQuantidade" placeholder="">
                      <label for="floatingQuantidade">Quantidade</label>
                    </div>

                    <div class="col-md-14 my-1">
                      <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preferência</label>
                      <select [(ngModel)]="idCategoria" (change)="findByIdCategoria()" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                        <option *ngFor="let i of listaCategoria" value={{i.id}} selected >{{i.nome}} </option>
                      </select>
                    </div>

                    <div class="col text-center mt-3">
                      <button type="submit" class="btn btnColor btn-block" (click)="cadastrar()">Cadastrar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="row mt-5">
        <div class="col-md-12">
            <h2 class="text-center">Todos os Produtos Cadastrados</h2>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Produto</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Preço</th>
                        <th scope="col">Desconto</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Foto</th>
                        <th scope="col">Quantidade</th>
                        <th scope="col">Categoria</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of listaProdutos">
                        <th>{{i.id}}</th>
                        <td>{{i.nome}}</td>
                        <td>{{i.preco}}</td>
                        <td>{{i.desconto}}</td>
                        <td>{{i.descricao}}</td>
                        <td>{{i.foto}}</td>
                        <td>{{i.quantidade}}</td>
                        <td>{{i.categoria.nome}}</td>
                        <td class="d-flex justify-content-end ">
                            <button class="btn btnColor2 btn mr-3 " [routerLink]="['/produto-edit', i.id]">Editar</button>
                            <button class="btn btnColor2 btn" [routerLink]="['/produto-delete', i.id]">Apagar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
