#home-categoria{
    border-color: #dcdcdc;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
}



.descricao{
    text-overflow: ellipsis;
    overflow:hidden;  


}

.vertical{
    vertical-align: middle;
    display: table-cell;
}
