<div class="container" >
    <a routerLink='/home'>Voltar</a>
</div>
<div class="container"id="home-categoria">
    <div class="row">
        <div class="col-md-6 d-flex" >
            <img src="{{produto.foto}}" alt="Foto produto" width="569" height="400">
        </div>
        <div class="col-md-6 justify-content-center d-block mt-4" >
            <ul class="list-group">
                <li class='list-group-item descricao'>Nome: {{produto.nome}}</li>
                <li class='list-group-item descricao'>Descricao: {{produto.descricao}}</li>
                <li class='list-group-item'>Preço: R$ {{produto.preco}}</li>
                <li class='list-group-item'>Desconto: R$ {{produto.desconto}}</li>
                <li class='list-group-item'>Quantidade: {{produto.quantidade}}</li>
                <li class='list-group-item'>Categoria: {{produto.categoria.nome}}</li>
                <hr>
                <button class="btn btn-primary mb-3">Comprar Agora</button>
                <button class="btn btn-light mb-2" routerLink = '/carrinho'>Adicionar ao carrinho</button>
            </ul>
        </div>
    </div>

</div>
