<div class="justify-content-center" id="img-bg">
  <div class="container-fluid">
    <img src="https://imgur.com/h8vU4mt.jpg" height="150">

    <!--CADASTRO-->
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-md-8">
          <div class="bg-white rounded shadow-5-strong p-5">

            <div class="text-center mb-4">
              <h1>Cadastre-se</h1>
            </div>

            <div class="form-outline mb-4">
              <input [(ngModel)]="user.nome" type="text" id="nome" class="form-control bg-box">
              <label class="form-label text-secondary" for="formCadastro">Nome Completo</label>
            </div>

            <div class="form-outline mb-4">
              <input [(ngModel)]="user.email" type="email" id="email" class="form-control bg-box">
              <label class="form-label text-secondary" for="formCadastro">Usuario</label>
            </div>

            <div class="form-outline mb-4">
              <input [(ngModel)]="user.foto" type="foto" id="foto" class="form-control bg-box">
              <label class="form-label text-secondary" for="formCadastro">Foto</label>
            </div>

            <div class="form-outline mb-4">
              <input [(ngModel)]="user.senha" type="password" id="senha" class="form-control bg-box">
              <label class="form-label text-secondary" for="formCadastro">Senha</label>
            </div>

            <div class="form-outline mb-4">
              <input (input)="confirmSenha($event)" type="password" id="confirmSenha" class="form-control bg-box">
              <label class="form-label text-secondary" for="formCadastro">Confirmar senha</label>
            </div>

            <div class="form-group">
              <label class="form-label text-secondary" for="formCadastro">Tipo de Usuario</label>
              <select class="form-control bg-box" name="tipo" id="tipo" (change)="tipoUser($event)">
                  <option>Selecione um tipo de usuário:</option>
                  <option value="normal">Normal</option>
                  <option value="adm">Administrador</option>
              </select>
          </div>

            <div class="row mt-4">
              <div class="col d-flex justify-content-center">

                <div class="col text-center">
                  <button type="submit" class="btn btnEnter btn-block" routerLink="/login">Voltar</button>
                </div>

                <div class="col text-center">
                  <button type="submit" class="btn btnEnter btn-block" (click)="cadastrar()">Cadastrar</button>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
