#img-bg{
    background-image: url("https://i.imgur.com/QM10oTw.png");
    min-height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.b-Cancel{
  background: transparent;
  border-color: #0d2622;
  border-radius: 6pt;
  transition-duration: 300ms;
}

.b-Cancel:hover{
  transition-duration: 300ms;
  background-color:#a50808;
  border-color: #a50808;
  color: white;
}

.b-Cadas{
  background: transparent;
  border-color: #0d2622;
  border-radius: 6pt;
  transition-duration: 300ms;
}

.b-Cadas:hover{

  transition-duration: 300ms;
  background-color:#2F734C;
  border-color: #2F734C;
  color: white;
}

.cadastroBox{
  width: 50%;
  background-color: rgb(255, 255, 255);
  border-width: 10px;
  border-color: rgb(255, 255, 255);
  border-radius: 8%;
  margin-top: 7%;
}

.third{
  width: 33%;
  justify-content: space-around;
}

.fill{
  height:100%;
}

.background{
  background-color: #0d2622;
}

.f-17{
  font-size: 17px;
}

.form-group:hover{
  transition-duration: 300ms;
  font-size: 20px;
}

.form-group{
  transition-duration: 300ms;
}
