.backFoot{
    background-color:#235945;
}

.copyright{
    background-color: #0d2622;
}

ul.social-network{
    list-style: none;
    padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}

.fa{
    font-size: 35pt;
    color: white;
    padding: 10px;
}

.fa:hover{
    color: rgb(1, 146, 66);
}
